
html,
body {
  height: 100%;
}
body {
  color: #FFFFFF;
  font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
background: #210E09;

}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-family: Gothampro;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
text-transform: uppercase;
color: #210E09;
padding: 10px 17px 7px;
background: #FFFFFF;
border-radius: 5px;

}
.header {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0px ;
  }
  &__nav-list {
    margin-left: 15px;
    display: flex;
  }
  &__nav-link {
    margin-right: 30px;
  }
  &__btn {
    font-family: 'Stolzl';
    letter-spacing: 0.05em;
text-transform: uppercase;
border: 2px solid #D5621D;
border-radius: 5px;
padding: 15px 30px;
  }
}

.fotter {
  height: 120px;
  margin-top: 150px;
  &__button {
    text-align: center;
    margin-bottom: 47px;
    
  }
  &__title {
    font-family: Gothampro;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
margin-bottom: 80px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__inner-info {
    background: rgba(213, 98, 29, 0.1);
border: 2px solid #D5621D;
border-radius: 5px;
padding: 50px;
margin-right: 24px;
margin-bottom: 100px;
max-width: 416px;
max-height: 656px;
  }
  &__info-title {
    margin-bottom: 20px;
    font-family: Gothampro;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
text-transform: uppercase;
  }
  &__info-text {
    margin-bottom: 35px;
    display: block;
  }
  &__info-text--row {
    padding-bottom: 45px;
    margin-bottom: 45px;
    position: relative;
  }
  &__info-text--row::after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    max-width: 316px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.5);
  }
  &__inner-map  {
    width: 856px;
    height: 656px;
    border: 2px solid #D5621D;
border-radius: 5px;

  }
  &__row {
    width: 100%;
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin-bottom: 30px;
  }
  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255, 0.5);
    padding-bottom: 30px;
  }
}
// ---------------------------main--------------------------
.main {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner-box {
    position: relative;

  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__box-button {
    position: absolute;
    bottom: 202px;
    left: 68px;
    right: 0;
  }
  &__box-link {
    font-family: Gothampro;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
text-transform: uppercase;
color: #210E09;
background: #FFFFFF;
border-radius: 5px;
padding: 10px 20px 7px;
  }
  &__box-title {
    font-family: 'Gothampro';
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.05em;
text-transform: uppercase;
width: 623px;
height: 120px;
line-height: 150%;
position: absolute;
    bottom: 45px;
    left: 60px;
    right: 0;
  }
  &__content-btn {
    display: flex;
    align-items: center;
    max-width: 516px;

  }
  &__content-btn-left {
    font-family: Gothampro;
    font-weight: 700;
    letter-spacing: 0.05em;
text-transform: uppercase;
padding: 12px 48.5px 7px;
background: rgba(213, 98, 29, 0.1);
border-radius: 5px 5px 0px 0px;
margin: 0 auto;
width: 208px;
  }
  &__content-btn-right {
    text-align: center;
    font-family: Gothampro;
    font-weight: 700;
    letter-spacing: 0.05em;
text-transform: uppercase;
padding: 12px 48.5px 7px;
background: rgba(213, 98, 29, 0.05);
border-radius: 5px 5px 0px 0px;
margin: 0 auto;
width: 208px;
  }
  &__content-list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 26px;
    padding: 39px 35px 37px;
    background: rgb(213, 98, 29, 0.1);
border-radius: 0px 0px 5px 5px;
  }
}
// ------------------------kitchen-------------------
.kitchen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__btn {
    margin-top: 120px;
    margin-bottom: 47px;
    text-align: center;
    }
    &__title {
      font-family: Gothampro;
      font-size: 40px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 80px;
    }
    &__button {
      text-align: center;
      font-size: 18px;
      letter-spacing: 0.05em;
text-transform: uppercase;
margin-top: 110px;
    }
    &__button-link {
      font-family: "Gothampro";
      background: #D5621D;
border-radius: 5px;
padding: 15px 30px;
    }
}
.kitchen__slider {
  max-width: 1076px;
  position: relative;
  &-slide {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    row-gap: 57px;
  }
  &-item {
    display: flex;
    max-width: 486px;
    }
  &-img {
    margin-right: 25px;
    max-width: 110px;
    max-height: 110px;
  }
  &-content {
    display: flex;
  }
  &-content-price {
    margin-top: 10px;
    margin-left: -108px;
width: 216px;
height: 21px;

  }
  &-content-prices {
    font-family: 'Gothampro';
    font-weight: 700;
    letter-spacing: 0.05em;
text-transform: uppercase;
border: 3px solid #D5621D; 
padding: 8px;   
border-radius: 8px;
padding: 10px 20px;

  }
}
.slider {
  &-content-info-name {
    font-family: "Gothampro";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
text-transform: uppercase;
margin-bottom: 5px;
  }
  &-content-info-price {
    color: #D5621D;
    margin-bottom: 10px;
  }
  &-content-info-text {
    width: 351px;
}
}
.slick-initialized .slick-slide {
    display: grid;
}
.slick-prev {
  position: relative;
  top: 330px;
  left: -110px;
  display: block;
  width: 50px;
height: 50px;
background-color: #D5621D;
color: transparent;
}
.slick-prev::after{
  content: "";
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%,-50%);
  height: 14px;
  width: 3px;
  background-color: #FFFFFF;
  transform: rotate(-45deg);
// background-color: #D5621D;


}
.slick-prev::before{
  content: "";
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%,-50%);
  height: 14px;
  width: 3px;
  background-color: #FFFFFF;
  transform: rotate(45deg);

}


.slick-next {
  position: relative;
  bottom: 340px;
  left: 1050px;
  display: block;
  width: 50px;
height: 50px;
background-color: #D5621D;
color: transparent;
}
.slick-next::after{
  content: "";
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 14px;
  width: 3px;
  background-color: #FFFFFF;
  transform: rotate(135deg);
// background-color: #D5621D;


}
.slick-next::before{
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 14px;
  width: 3px;
  background-color: #FFFFFF;
  transform: rotate(45deg);

}

.kitchen__content {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;


  &-events-subtitles {
    margin-bottom: 47px;
    text-align: center;

  }
  &-events-title {
    font-family: 'Gothampro';
    font-size: 40px;
    letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
margin-bottom: 35px;

  }
  &-events-text {
  text-align: center;
  width: 376px;
}
&-events-button {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid #D5621D; 
border-radius: 8px;
padding: 10px 20px;
}
&-events-btn{
  margin-top: 50px;
  text-align: center;
}
&-img {
  margin-left: 44px;
  margin-right: 44px;
}
}

p {
  margin-bottom: 15px;
  text-align: center;
}